{% extends "crowdsearch/base.html" %}
{%block header%}
<div class="header">
	<a style="width:300px" href="http://uncrowdus.tideinteractive.com/crowdsearch">
	<div class="logo">
	</div>
	</a>
	<!-- <h3>Category : {{kickitems.activecat}}</h3> -->
	
	<div class="page-description">
		<p>
		<b>Welcome to UnCrowd.Us, the search engine marketplace for crowdfunding.</b>  Browse and see what's popular or use the filters to find exactly what you're looking for.  We've made it easy to see how much it costs to actually get the products people are building.  We're in beta right now so the number of projects is limited, but we're adding more sites and categories all the time.  <b>We'd love to get your <a href="mailto:feedback@uncowd.us">feedback</a>!</b>
		</p>
	</div>
</div>
{%endblock header%}